# Infinite Aegis CODEOWNERS
# Last matching rule takes precedence.

* @Infinite-Aegis/maintainers

/Content.Client/_InfiniteAegis/ @Infinite-Aegis/developers @Infinite-Aegis/maintainers
/Content.Server/_InfiniteAegis/ @Infinite-Aegis/developers @Infinite-Aegis/maintainers
/Content.Shared/_InfiniteAegis/ @Infinite-Aegis/developers @Infinite-Aegis/maintainers

/Resources/Prototypes/_InfiniteAegis/ @Infinite-Aegis/developers @Infinite-Aegis/maintainers
/Resources/Maps/_InfiniteAegis/ @Infinite-Aegis/mappers @Infinite-Aegis/maintainers
/Resources/Textures/_InfiniteAegis/ @Infinite-Aegis/artists @Infinite-Aegis/maintainers
/Resources/Audio/_InfiniteAegis/ @Infinite-Aegis/artists @Infinite-Aegis/maintainers
/Resources/Locale/ @Infinite-Aegis/writers @Infinite-Aegis/maintainers

/README.md @Infinite-Aegis/maintainers
/README.en.md @Infinite-Aegis/maintainers
/CONTRIBUTING.md @Infinite-Aegis/maintainers
/SECURITY.md @Infinite-Aegis/maintainers
/CODE_OF_CONDUCT.md @Infinite-Aegis/maintainers
/LICENSE* @Infinite-Aegis/maintainers
/THIRD-PARTY-NOTICES.md @Infinite-Aegis/maintainers

/.github/ @Infinite-Aegis/maintainers